$color-primary1: #ba54f5;
$color-primary2: #e14eca;
$color-offset: #27293d;
$color-dark: #1e1e2f;
$color-default: #525f7f;
$color-light: #9a9a9a;
$color-muted: #6c757d;
$color-body: hsla(0,0%,100%,.8);

$border-radius: 4px;
$box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);

$font-family:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
