<div class="main-nav-col col flex-fill">
  <div class="main-nav">
    <a class="main-nav-item active">
      <i class="main-nav-icon fa fa-tachometer"></i>
    </a>
    <a class="main-nav-item">
      <i class="main-nav-icon fa fa-desktop"></i>
    </a>
    <a class="main-nav-item">
      <i class="main-nav-icon fa fa-user"></i>
    </a>
  </div>
</div>
<div class="col flex-fill">
  <h1 class="page-title">Dashboard</h1>
</div>
