<div class="main-nav col flex-fill align-self-center">
  <a class="main-nav-item active">
    <i class="main-nav-icon fa fa-tachometer"></i>
  </a>
  <a class="main-nav-item">
    <i class="main-nav-icon fa fa-desktop"></i>
  </a>
  <a class="main-nav-item">
    <i class="main-nav-icon fa fa-user"></i>
  </a>
</div>
<div class="main-content col flex-fill">
  <h1 class="page-title">Overview</h1>
</div>
<div class="main-stats col flex-fill d-none d-sm-none d-md-block">
  <div class="main-stats-bar row">
    <div class="main-stats-stat col">
      <h4 class="main-stats-count">21342</h4>
      <p class="main-stats-title">Visitors</p>
    </div>
    <div class="main-stats-stat col">
      <h4 class="main-stats-count">332</h4>
      <p class="main-stats-title">Clicks</p>
    </div>
    <div class="main-stats-stat col">
      <h4 class="main-stats-count">100</h4>
      <p class="main-stats-title">Sign Ups</p>
    </div>
  </div>
</div>
