<div class="main-list col flex-fill">
  <div class="main-list-scroller">
    <div class="card">
      <div class="card-details">
        <p class="card-title">
          <i class="card-status"></i>
          Page Title
        </p>
      </div>
      <div class="card-actions">
        <a href="#" class="card-action"><i class="fa fa-pencil"></i></a>
        <a href="#" class="card-action"><i class="fa fa-close"></i></a>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <p class="card-title">
          <i class="card-status active"></i>
          Page Title
        </p>
      </div>
      <div class="card-actions">
        <a href="#" class="card-action"><i class="fa fa-pencil"></i></a>
        <a href="#" class="card-action"><i class="fa fa-close"></i></a>
      </div>
    </div>
  </div>
  <a href="#" class="main-list-add"><i class="fa fa-plus"></i></a>
</div>
<div class="main-content col flex-fill">
  <h1 class="main-content-title">Dashboard</h1>
</div>
