.main-stats {
  background: #fff;
  max-width: 500px;
  padding: 0;
  &-bar {
    text-align: center;
    margin: 0;
    padding: 30px;
    background: $color-dark;
    width: calc(100% + 70px);;
    transform: translateX(-70px);
    box-shadow: rgba(0,0,0,.5) 0 20px 60px -10px;
  }
  &-count {
    color: #fff;
    margin-bottom: 2px;
  }
  &-title {
    color: $color-primary;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
  }
}
