.navbar {
  background: #FFEAA7;
  padding: 15px 0;
  &-logo {
    display: block;
    width: 50px;
    line-height: 1;
    img {
      max-width: 100%;
      display: block;
    }
  }
  &-link {
    text-decoration: none;
  }
}
