.top-nav {
  background: #fff;
  padding: 15px 0;
  &-logo {
    display: block;
    width: 50px;
    line-height: 1;
    img {
      max-width: 100%;
      display: block;
    }
  }
  &-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size:14px;
    color: $color-dark;
    margin-left: 25px;
    font-weight: 600;
  }
}
