.top-nav {
  position: relative;
  z-index: 999;
  background: #fff;
  padding: 15px 0;
  box-shadow: rgba(0,0,0,.1) 0 20px 60px -10px;
  &-logo {
    display: block;
    width: 40px;
    line-height: 1;
    img {
      max-width: 100%;
      display: block;
    }
  }
  &-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-dark;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
  }
  &-icon {
    font-size: 30px;
  }
}
