.user-menu {
  position: relative;
  &-avatar {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: middle;
    display: inline-block;
    img {
      opacity: .4;
      width: 30px;
      display: inline-block;
      vertical-align: middle;
      &:hover {
        opacity: 1;
      }
    }
    &:after {
      display: none;
    }
  }
  &-name {
    display: inline-block;
    vertical-align: middle;
  }
  &-dropdown {
    left: auto !important;
    right: 0 !important;
    top: 35px !important;
    transform: none !important;
    border: none;
    box-shadow: rgba(0,0,0,.1) 0 0px 60px 10px;
    border-radius: 0;
  }
}
